{% extends 'base.html.twig' %}

{% form_theme form_image "bootstrap_5_layout.html.twig" %}

{% block body %}

    {{ form_start(form_image,{attr:{action:path('add_animal_image',{id:animal.id}) }}) }}
    {{ form_row(form_image.imageFile) }}
    <button type="submit" class="btn btn-success">OK</button>
    {{ form_end(form_image) }}

{% endblock %}