{% extends 'base.html.twig' %}

{% block title %}Hello AnimalController!{% endblock %}

{% block body %}

    {% for animal in animal %}
    <div class="border bporder-primary">
        <h3>{{ animal.name }}</h3>
        {% include 'image/image_or_not_image.html.twig' with {object:animal} %}
        <h4>weight :{{ animal.weight }}</h4>
        <p>{{ animal.category.name }}</p>
        <a href="{{ path('show_animal', {id:animal.id}) }}" class="btn btn-primary">Voir</a>
    </div>
    {% endfor %}

{% endblock %}
