{% extends 'base.html.twig' %}

{% block title %}Hello AnimalController!{% endblock %}

{% block body %}

    {% for animal in animal %}
    <div class="border bporder-primary">
        <h3>{{ animal.name }}</h3>
        <p>weight :{{ animal.weight }}</p>
        <a href="{{ path('show_animal', {id:animal.id}) }}" class="btn btn-primary">Voir</a>
    </div>
    {% endfor %}

{% endblock %}
